main {
  width: 100%;
  height: 100vh;
}
.sd-container {
  width: 60%;
}

.box-card {
  width: 80%;
  margin: 0 auto;
}

.details-row .left-col {
  background-color: lightblue;
  width: 30%;
}

.details-row .right-col {
  width: 70%;
}


.details-row p {
  font-size: 1rem ;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

button {
  background-color:  lightblue;
}